(edif Verilog2
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 12 16 19 49 52)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell MIN3XI (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A & !B & !C + !A & B & !C + !A & !B & C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell Verilog2 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port R (direction INPUT))
           (port Y (direction INPUT))
           (port G (direction INPUT))
           (port Z (direction OUTPUT))
         )
         (contents
          (instance Z_pad_RNO (viewRef prim (cellRef MIN3XI (libraryRef PA3)))          )
          (instance Z_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance G_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Y_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance R_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename Verilog2_un1_Z12 "Verilog2.un1_Z12") (joined
           (portRef Y (instanceRef Z_pad_RNO))
           (portRef D (instanceRef Z_pad))
          ))
          (net R_c (joined
           (portRef Y (instanceRef R_pad))
           (portRef B (instanceRef Z_pad_RNO))
          ))
          (net R (joined
           (portRef R)
           (portRef PAD (instanceRef R_pad))
          ))
          (net Y_c (joined
           (portRef Y (instanceRef Y_pad))
           (portRef A (instanceRef Z_pad_RNO))
          ))
          (net Y (joined
           (portRef Y)
           (portRef PAD (instanceRef Y_pad))
          ))
          (net G_c (joined
           (portRef Y (instanceRef G_pad))
           (portRef C (instanceRef Z_pad_RNO))
          ))
          (net G (joined
           (portRef G)
           (portRef PAD (instanceRef G_pad))
          ))
          (net Z (joined
           (portRef PAD (instanceRef Z_pad))
           (portRef Z)
          ))
         )
        (property orig_inst_of (string "Verilog2"))
       )
    )
  )
  (design Verilog2 (cellRef Verilog2 (libraryRef work)))
)
