(edif HC74
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 12 19 0 42 48)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell MX2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & !S) + (B & S)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port S (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell AOI1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A & B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & B) + !C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) + !C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell HC74 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port S1 (direction INPUT))
           (port S2 (direction INPUT))
           (port R1 (direction INPUT))
           (port R2 (direction INPUT))
           (port Clk1 (direction INPUT))
           (port Clk2 (direction INPUT))
           (port D1 (direction INPUT))
           (port D2 (direction INPUT))
           (port Q1 (direction OUTPUT))
           (port Q2 (direction OUTPUT))
           (port Q1_N (direction OUTPUT))
           (port Q2_N (direction OUTPUT))
         )
         (contents
          (instance Clk2_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance Clk1_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance S2_pad_RNIH6HH (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance Q2_RNO_0 (viewRef prim (cellRef MX2A (libraryRef PA3)))          )
          (instance Q1_N_1 (viewRef prim (cellRef AO1C (libraryRef PA3)))          )
          (instance Q2_N_RNO (viewRef prim (cellRef AOI1 (libraryRef PA3)))          )
          (instance Q2_RNO (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance Q1_RNO (viewRef prim (cellRef AO1B (libraryRef PA3)))          )
          (instance (rename QZ0Z2 "Q2") (viewRef prim (cellRef DFN1 (libraryRef PA3)))
          )
          (instance (rename QZ0Z1 "Q1") (viewRef prim (cellRef DFN1 (libraryRef PA3)))
          )
          (instance (rename Q1_NZ0 "Q1_N") (viewRef prim (cellRef DFN1 (libraryRef PA3)))
          )
          (instance (rename Q2_NZ0 "Q2_N") (viewRef prim (cellRef DFN1 (libraryRef PA3)))
          )
          (instance Q2_N_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q1_N_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q2_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q1_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance D2_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance D1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance R2_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance R1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance S2_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance S1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename Q2_RNOZ0 "Q2_RNO") (joined
           (portRef Y (instanceRef Q2_RNO))
           (portRef D (instanceRef QZ0Z2))
          ))
          (net (rename Q1_RNOZ0 "Q1_RNO") (joined
           (portRef Y (instanceRef Q1_RNO))
           (portRef D (instanceRef QZ0Z1))
          ))
          (net (rename Q1_NZ0Z_1 "Q1_N_1") (joined
           (portRef Y (instanceRef Q1_N_1))
           (portRef D (instanceRef Q1_NZ0))
          ))
          (net (rename Q2_N_RNOZ0 "Q2_N_RNO") (joined
           (portRef Y (instanceRef Q2_N_RNO))
           (portRef D (instanceRef Q2_NZ0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net S1_c (joined
           (portRef Y (instanceRef S1_pad))
           (portRef C (instanceRef Q1_RNO))
           (portRef B (instanceRef Q1_N_1))
           (portRef A (instanceRef Q2_RNO_0))
          ))
          (net S1 (joined
           (portRef S1)
           (portRef PAD (instanceRef S1_pad))
          ))
          (net S2_c (joined
           (portRef Y (instanceRef S2_pad))
           (portRef B (instanceRef S2_pad_RNIH6HH))
          ))
          (net S2 (joined
           (portRef S2)
           (portRef PAD (instanceRef S2_pad))
          ))
          (net R1_c (joined
           (portRef Y (instanceRef R1_pad))
           (portRef A (instanceRef Q1_RNO))
           (portRef B (instanceRef Q2_N_RNO))
           (portRef C (instanceRef Q1_N_1))
           (portRef S (instanceRef Q2_RNO_0))
          ))
          (net R1 (joined
           (portRef R1)
           (portRef PAD (instanceRef R1_pad))
          ))
          (net R2_c (joined
           (portRef Y (instanceRef R2_pad))
           (portRef A (instanceRef S2_pad_RNIH6HH))
          ))
          (net R2 (joined
           (portRef R2)
           (portRef PAD (instanceRef R2_pad))
          ))
          (net Clk1_c (joined
           (portRef Y (instanceRef Clk1_pad))
           (portRef CLK (instanceRef Q1_NZ0))
           (portRef CLK (instanceRef QZ0Z1))
          ))
          (net Clk1 (joined
           (portRef Clk1)
           (portRef PAD (instanceRef Clk1_pad))
          ))
          (net Clk2_c (joined
           (portRef Y (instanceRef Clk2_pad))
           (portRef CLK (instanceRef Q2_NZ0))
           (portRef CLK (instanceRef QZ0Z2))
          ))
          (net Clk2 (joined
           (portRef Clk2)
           (portRef PAD (instanceRef Clk2_pad))
          ))
          (net D1_c (joined
           (portRef Y (instanceRef D1_pad))
           (portRef B (instanceRef Q1_RNO))
           (portRef A (instanceRef Q1_N_1))
          ))
          (net D1 (joined
           (portRef D1)
           (portRef PAD (instanceRef D1_pad))
          ))
          (net D2_c (joined
           (portRef Y (instanceRef D2_pad))
           (portRef A (instanceRef Q2_N_RNO))
           (portRef B (instanceRef Q2_RNO_0))
          ))
          (net D2 (joined
           (portRef D2)
           (portRef PAD (instanceRef D2_pad))
          ))
          (net Q1_c (joined
           (portRef Q (instanceRef QZ0Z1))
           (portRef D (instanceRef Q1_pad))
          ))
          (net Q1 (joined
           (portRef PAD (instanceRef Q1_pad))
           (portRef Q1)
          ))
          (net Q2_c (joined
           (portRef Q (instanceRef QZ0Z2))
           (portRef D (instanceRef Q2_pad))
          ))
          (net Q2 (joined
           (portRef PAD (instanceRef Q2_pad))
           (portRef Q2)
          ))
          (net Q1_N_c (joined
           (portRef Q (instanceRef Q1_NZ0))
           (portRef D (instanceRef Q1_N_pad))
          ))
          (net Q1_N (joined
           (portRef PAD (instanceRef Q1_N_pad))
           (portRef Q1_N)
          ))
          (net Q2_N_c (joined
           (portRef Q (instanceRef Q2_NZ0))
           (portRef D (instanceRef Q2_N_pad))
          ))
          (net Q2_N (joined
           (portRef PAD (instanceRef Q2_N_pad))
           (portRef Q2_N)
          ))
          (net Q2_3 (joined
           (portRef Y (instanceRef Q2_RNO_0))
           (portRef A (instanceRef Q2_RNO))
          ))
          (net Q29 (joined
           (portRef Y (instanceRef S2_pad_RNIH6HH))
           (portRef B (instanceRef Q2_RNO))
           (portRef C (instanceRef Q2_N_RNO))
          ))
         )
        (property orig_inst_of (string "HC74"))
       )
    )
  )
  (design HC74 (cellRef HC74 (libraryRef work)))
)
