(edif encoder8_3_1
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 12 17 21 28 48)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR3B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + !C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell AO1C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & B) + !C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & B) + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell encoder8_3_1 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename din "din[7:0]") 8) (direction INPUT))
           (port EI (direction INPUT))
           (port GS (direction OUTPUT))
           (port EO (direction OUTPUT))
           (port (array (rename dout "dout[2:0]") 3) (direction OUTPUT))
         )
         (contents
          (instance (rename dout_i_a2_0_0_0 "dout_i_a2_0_0[0]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename din_pad_RNI52TD2_2 "din_pad_RNI52TD2[2]") (viewRef prim (cellRef NOR3C (libraryRef PA3)))          )
          (instance (rename din_pad_RNIFOUP_0 "din_pad_RNIFOUP[0]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename dout_i_a2_0_0_1 "dout_i_a2_0_0[1]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename dout_i_a2_1_0 "dout_i_a2_1[0]") (viewRef prim (cellRef NOR3A (libraryRef PA3)))          )
          (instance (rename dout_i_0 "dout_i[0]") (viewRef prim (cellRef NOR3 (libraryRef PA3)))          )
          (instance (rename dout_i_a2_0 "dout_i_a2[0]") (viewRef prim (cellRef NOR3C (libraryRef PA3)))          )
          (instance EO_pad_RNO (viewRef prim (cellRef OR3B (libraryRef PA3)))          )
          (instance (rename din_pad_RNIR4VP_7 "din_pad_RNIR4VP[7]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename din_pad_RNIN0VP_4 "din_pad_RNIN0VP[4]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename din_pad_RNIJSUP_2 "din_pad_RNIJSUP[2]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename dout_i_o2_0 "dout_i_o2[0]") (viewRef prim (cellRef AO1C (libraryRef PA3)))          )
          (instance (rename dout_i_1 "dout_i[1]") (viewRef prim (cellRef AO1A (libraryRef PA3)))          )
          (instance (rename dout_i_a2_2 "dout_i_a2[2]") (viewRef prim (cellRef AO1 (libraryRef PA3)))          )
          (instance (rename dout_i_a2_0_0 "dout_i_a2_0[0]") (viewRef prim (cellRef NOR2 (libraryRef PA3)))          )
          (instance GS_pad_RNO (viewRef prim (cellRef AO1 (libraryRef PA3)))          )
          (instance (rename dout_pad_2 "dout_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename dout_pad_1 "dout_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename dout_pad_0 "dout_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance EO_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance GS_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance EI_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename din_pad_7 "din_pad[7]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename din_pad_6 "din_pad[6]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename din_pad_5 "din_pad[5]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename din_pad_4 "din_pad[4]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename din_pad_3 "din_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename din_pad_2 "din_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename din_pad_1 "din_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename din_pad_0 "din_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename EO_pad_RNOZ0 "EO_pad_RNO") (joined
           (portRef Y (instanceRef EO_pad_RNO))
           (portRef D (instanceRef EO_pad))
          ))
          (net (rename dout_iZ0Z_0 "dout_i[0]") (joined
           (portRef Y (instanceRef dout_i_0))
           (portRef D (instanceRef dout_pad_0))
          ))
          (net (rename dout_iZ0Z_1 "dout_i[1]") (joined
           (portRef Y (instanceRef dout_i_1))
           (portRef D (instanceRef dout_pad_1))
          ))
          (net (rename dout_i_a2Z0Z_2 "dout_i_a2[2]") (joined
           (portRef Y (instanceRef dout_i_a2_2))
           (portRef D (instanceRef dout_pad_2))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net N_25_3 (joined
           (portRef Y (instanceRef din_pad_RNIN0VP_4))
           (portRef A (instanceRef dout_i_a2_2))
           (portRef A (instanceRef dout_i_a2_0_0_1))
           (portRef B (instanceRef din_pad_RNI52TD2_2))
          ))
          (net N_25_4 (joined
           (portRef Y (instanceRef din_pad_RNIR4VP_7))
           (portRef B (instanceRef dout_i_a2_2))
           (portRef B (instanceRef dout_i_1))
           (portRef A (instanceRef din_pad_RNI52TD2_2))
          ))
          (net N_25_2 (joined
           (portRef Y (instanceRef din_pad_RNIJSUP_2))
           (portRef B (instanceRef dout_i_a2_0_0_1))
           (portRef C (instanceRef din_pad_RNI52TD2_2))
          ))
          (net N_41 (joined
           (portRef Y (instanceRef dout_i_a2_0_0))
           (portRef A (instanceRef dout_i_0))
          ))
          (net N_42 (joined
           (portRef Y (instanceRef dout_i_a2_1_0))
           (portRef B (instanceRef dout_i_0))
          ))
          (net N_40 (joined
           (portRef Y (instanceRef dout_i_a2_0))
           (portRef C (instanceRef dout_i_0))
          ))
          (net N_38 (joined
           (portRef Y (instanceRef dout_i_o2_0))
           (portRef B (instanceRef dout_i_a2_0))
          ))
          (net (rename din_c_0 "din_c[0]") (joined
           (portRef Y (instanceRef din_pad_0))
           (portRef B (instanceRef din_pad_RNIFOUP_0))
          ))
          (net (rename din_0 "din[0]") (joined
           (portRef (member din 7))
           (portRef PAD (instanceRef din_pad_0))
          ))
          (net (rename din_c_1 "din_c[1]") (joined
           (portRef Y (instanceRef din_pad_1))
           (portRef A (instanceRef dout_i_o2_0))
           (portRef A (instanceRef din_pad_RNIFOUP_0))
          ))
          (net (rename din_1 "din[1]") (joined
           (portRef (member din 6))
           (portRef PAD (instanceRef din_pad_1))
          ))
          (net (rename din_c_2 "din_c[2]") (joined
           (portRef Y (instanceRef din_pad_2))
           (portRef B (instanceRef dout_i_o2_0))
           (portRef B (instanceRef din_pad_RNIJSUP_2))
          ))
          (net (rename din_2 "din[2]") (joined
           (portRef (member din 5))
           (portRef PAD (instanceRef din_pad_2))
          ))
          (net (rename din_c_3 "din_c[3]") (joined
           (portRef Y (instanceRef din_pad_3))
           (portRef C (instanceRef dout_i_o2_0))
           (portRef A (instanceRef din_pad_RNIJSUP_2))
          ))
          (net (rename din_3 "din[3]") (joined
           (portRef (member din 4))
           (portRef PAD (instanceRef din_pad_3))
          ))
          (net (rename din_c_4 "din_c[4]") (joined
           (portRef Y (instanceRef din_pad_4))
           (portRef B (instanceRef din_pad_RNIN0VP_4))
           (portRef A (instanceRef dout_i_a2_0_0_0))
          ))
          (net (rename din_4 "din[4]") (joined
           (portRef (member din 3))
           (portRef PAD (instanceRef din_pad_4))
          ))
          (net (rename din_c_5 "din_c[5]") (joined
           (portRef Y (instanceRef din_pad_5))
           (portRef A (instanceRef din_pad_RNIN0VP_4))
           (portRef B (instanceRef dout_i_a2_1_0))
          ))
          (net (rename din_5 "din[5]") (joined
           (portRef (member din 2))
           (portRef PAD (instanceRef din_pad_5))
          ))
          (net (rename din_c_6 "din_c[6]") (joined
           (portRef Y (instanceRef din_pad_6))
           (portRef B (instanceRef din_pad_RNIR4VP_7))
           (portRef A (instanceRef dout_i_a2_0))
           (portRef A (instanceRef dout_i_a2_1_0))
          ))
          (net (rename din_6 "din[6]") (joined
           (portRef (member din 1))
           (portRef PAD (instanceRef din_pad_6))
          ))
          (net (rename din_c_7 "din_c[7]") (joined
           (portRef Y (instanceRef din_pad_7))
           (portRef A (instanceRef dout_i_a2_0_0))
           (portRef A (instanceRef din_pad_RNIR4VP_7))
          ))
          (net (rename din_7 "din[7]") (joined
           (portRef (member din 0))
           (portRef PAD (instanceRef din_pad_7))
          ))
          (net EI_c (joined
           (portRef Y (instanceRef EI_pad))
           (portRef C (instanceRef GS_pad_RNO))
           (portRef B (instanceRef dout_i_a2_0_0))
           (portRef C (instanceRef dout_i_a2_2))
           (portRef C (instanceRef dout_i_1))
           (portRef C (instanceRef EO_pad_RNO))
           (portRef C (instanceRef dout_i_a2_1_0))
           (portRef B (instanceRef dout_i_a2_0_0_0))
          ))
          (net EI (joined
           (portRef EI)
           (portRef PAD (instanceRef EI_pad))
          ))
          (net GS_c (joined
           (portRef Y (instanceRef GS_pad_RNO))
           (portRef D (instanceRef GS_pad))
          ))
          (net GS (joined
           (portRef PAD (instanceRef GS_pad))
           (portRef GS)
          ))
          (net EO (joined
           (portRef PAD (instanceRef EO_pad))
           (portRef EO)
          ))
          (net (rename dout_0 "dout[0]") (joined
           (portRef PAD (instanceRef dout_pad_0))
           (portRef (member dout 2))
          ))
          (net (rename dout_1 "dout[1]") (joined
           (portRef PAD (instanceRef dout_pad_1))
           (portRef (member dout 1))
          ))
          (net (rename dout_2 "dout[2]") (joined
           (portRef PAD (instanceRef dout_pad_2))
           (portRef (member dout 0))
          ))
          (net (rename dout_i_a2_0_1 "dout_i_a2_0[1]") (joined
           (portRef Y (instanceRef dout_i_a2_0_0_1))
           (portRef A (instanceRef dout_i_1))
          ))
          (net GS_0_a3_0 (joined
           (portRef Y (instanceRef din_pad_RNIFOUP_0))
           (portRef B (instanceRef GS_pad_RNO))
           (portRef A (instanceRef EO_pad_RNO))
          ))
          (net GS_0_a3_1 (joined
           (portRef Y (instanceRef din_pad_RNI52TD2_2))
           (portRef A (instanceRef GS_pad_RNO))
           (portRef B (instanceRef EO_pad_RNO))
          ))
          (net (rename dout_i_a2_0Z0Z_0 "dout_i_a2_0[0]") (joined
           (portRef Y (instanceRef dout_i_a2_0_0_0))
           (portRef C (instanceRef dout_i_a2_0))
          ))
         )
        (property orig_inst_of (string "encoder8_3_1"))
       )
    )
  )
  (design encoder8_3_1 (cellRef encoder8_3_1 (libraryRef work)))
)
