(edif dec2x4
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 12 19 14 35 0)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR3C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B + !C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR3B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR3A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + B + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell dec2x4 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port a (direction INPUT))
           (port b (direction INPUT))
           (port en (direction INPUT))
           (port (array (rename y "y[3:0]") 4) (direction OUTPUT))
         )
         (contents
          (instance (rename y_pad_RNO_3 "y_pad_RNO[3]") (viewRef prim (cellRef OR3C (libraryRef PA3)))          )
          (instance (rename y_pad_RNO_0 "y_pad_RNO[0]") (viewRef prim (cellRef OR3A (libraryRef PA3)))          )
          (instance (rename y_pad_RNO_1 "y_pad_RNO[1]") (viewRef prim (cellRef OR3B (libraryRef PA3)))          )
          (instance un7_y (viewRef prim (cellRef OR3B (libraryRef PA3)))          )
          (instance (rename y_pad_3 "y_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename y_pad_2 "y_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename y_pad_1 "y_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename y_pad_0 "y_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance en_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance b_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance a_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename y_pad_RNOZ0Z_3 "y_pad_RNO[3]") (joined
           (portRef Y (instanceRef y_pad_RNO_3))
           (portRef D (instanceRef y_pad_3))
          ))
          (net (rename y_pad_RNOZ0Z_0 "y_pad_RNO[0]") (joined
           (portRef Y (instanceRef y_pad_RNO_0))
           (portRef D (instanceRef y_pad_0))
          ))
          (net (rename y_pad_RNOZ0Z_1 "y_pad_RNO[1]") (joined
           (portRef Y (instanceRef y_pad_RNO_1))
           (portRef D (instanceRef y_pad_1))
          ))
          (net (rename un7_yZ0 "un7_y") (joined
           (portRef Y (instanceRef un7_y))
           (portRef D (instanceRef y_pad_2))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net a_c (joined
           (portRef Y (instanceRef a_pad))
           (portRef B (instanceRef un7_y))
           (portRef C (instanceRef y_pad_RNO_1))
           (portRef C (instanceRef y_pad_RNO_0))
           (portRef C (instanceRef y_pad_RNO_3))
          ))
          (net a (joined
           (portRef a)
           (portRef PAD (instanceRef a_pad))
          ))
          (net b_c (joined
           (portRef Y (instanceRef b_pad))
           (portRef C (instanceRef un7_y))
           (portRef A (instanceRef y_pad_RNO_1))
           (portRef B (instanceRef y_pad_RNO_0))
           (portRef A (instanceRef y_pad_RNO_3))
          ))
          (net b (joined
           (portRef b)
           (portRef PAD (instanceRef b_pad))
          ))
          (net en_c (joined
           (portRef Y (instanceRef en_pad))
           (portRef A (instanceRef un7_y))
           (portRef B (instanceRef y_pad_RNO_1))
           (portRef A (instanceRef y_pad_RNO_0))
           (portRef B (instanceRef y_pad_RNO_3))
          ))
          (net en (joined
           (portRef en)
           (portRef PAD (instanceRef en_pad))
          ))
          (net (rename y_0 "y[0]") (joined
           (portRef PAD (instanceRef y_pad_0))
           (portRef (member y 3))
          ))
          (net (rename y_1 "y[1]") (joined
           (portRef PAD (instanceRef y_pad_1))
           (portRef (member y 2))
          ))
          (net (rename y_2 "y[2]") (joined
           (portRef PAD (instanceRef y_pad_2))
           (portRef (member y 1))
          ))
          (net (rename y_3 "y[3]") (joined
           (portRef PAD (instanceRef y_pad_3))
           (portRef (member y 0))
          ))
         )
        (property orig_inst_of (string "dec2x4"))
       )
    )
  )
  (design dec2x4 (cellRef dec2x4 (libraryRef work)))
)
