(edif adder_3
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 11 30 20 22 25)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B ^ C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell XA1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A ^ B) & C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell MAJ3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) + (B & C) + (A & C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell halfadder_1_0 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port S0_c (direction OUTPUT))
           (port Cin_c (direction INPUT))
           (port A0_c (direction INPUT))
           (port B0_c (direction INPUT))
           (port halfadder_1_C (direction OUTPUT))
         )
         (contents
          (instance C (viewRef prim (cellRef XA1 (libraryRef PA3)))          )
          (instance S (viewRef prim (cellRef XOR3 (libraryRef PA3)))          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net halfadder_1_C (joined
           (portRef Y (instanceRef C))
           (portRef halfadder_1_C)
          ))
          (net B0_c (joined
           (portRef B0_c)
           (portRef A (instanceRef S))
           (portRef A (instanceRef C))
          ))
          (net A0_c (joined
           (portRef A0_c)
           (portRef B (instanceRef S))
           (portRef B (instanceRef C))
          ))
          (net Cin_c (joined
           (portRef Cin_c)
           (portRef C (instanceRef S))
           (portRef C (instanceRef C))
          ))
          (net S0_c (joined
           (portRef Y (instanceRef S))
           (portRef S0_c)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "halfadder"))
       )
    )
    (cell halfadder_1 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port A0_c (direction INPUT))
           (port B0_c (direction INPUT))
           (port halfadder_0_C (direction OUTPUT))
         )
         (contents
          (instance C (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net halfadder_0_C (joined
           (portRef Y (instanceRef C))
           (portRef halfadder_0_C)
          ))
          (net B0_c (joined
           (portRef B0_c)
           (portRef A (instanceRef C))
          ))
          (net A0_c (joined
           (portRef A0_c)
           (portRef B (instanceRef C))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "halfadder"))
       )
    )
    (cell Core_adder (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port (array (rename core_sum_c "Core_Sum_c[1:0]") 2) (direction OUTPUT))
           (port B1_c (direction INPUT))
           (port A1_c (direction INPUT))
           (port Core_Cout_c (direction OUTPUT))
           (port Cin_c (direction INPUT))
           (port B0_c (direction INPUT))
           (port A0_c (direction INPUT))
         )
         (contents
          (instance (rename XOR3_Sum_0 "XOR3_Sum[0]") (viewRef prim (cellRef XOR3 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance MAJ3_Cout (viewRef prim (cellRef MAJ3 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance (rename MAJ3_Carry_0 "MAJ3_Carry[0]") (viewRef prim (cellRef MAJ3 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance (rename XOR3_Sum_1 "XOR3_Sum[1]") (viewRef prim (cellRef XOR3 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename Core_Sum_c_0 "Core_Sum_c[0]") (joined
           (portRef Y (instanceRef XOR3_Sum_0))
           (portRef (member core_sum_c 1))
          ))
          (net A0_c (joined
           (portRef A0_c)
           (portRef B (instanceRef MAJ3_Carry_0))
           (portRef A (instanceRef XOR3_Sum_0))
          ))
          (net B0_c (joined
           (portRef B0_c)
           (portRef C (instanceRef MAJ3_Carry_0))
           (portRef B (instanceRef XOR3_Sum_0))
          ))
          (net Cin_c (joined
           (portRef Cin_c)
           (portRef A (instanceRef MAJ3_Carry_0))
           (portRef C (instanceRef XOR3_Sum_0))
          ))
          (net Core_Cout_c (joined
           (portRef Y (instanceRef MAJ3_Cout))
           (portRef Core_Cout_c)
          ))
          (net (rename Carry_0 "Carry[0]") (joined
           (portRef Y (instanceRef MAJ3_Carry_0))
           (portRef C (instanceRef XOR3_Sum_1))
           (portRef A (instanceRef MAJ3_Cout))
          ))
          (net A1_c (joined
           (portRef A1_c)
           (portRef A (instanceRef XOR3_Sum_1))
           (portRef B (instanceRef MAJ3_Cout))
          ))
          (net B1_c (joined
           (portRef B1_c)
           (portRef B (instanceRef XOR3_Sum_1))
           (portRef C (instanceRef MAJ3_Cout))
          ))
          (net (rename Core_Sum_c_1 "Core_Sum_c[1]") (joined
           (portRef Y (instanceRef XOR3_Sum_1))
           (portRef (member core_sum_c 0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "Core_adder"))
       )
    )
    (cell adder_3 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port A0 (direction INPUT))
           (port A1 (direction INPUT))
           (port B0 (direction INPUT))
           (port B1 (direction INPUT))
           (port Cin (direction INPUT))
           (port Core_Cout (direction OUTPUT))
           (port (array (rename core_sum "Core_Sum[1:0]") 2) (direction OUTPUT))
           (port Cout (direction OUTPUT))
           (port S0 (direction OUTPUT))
           (port S1 (direction OUTPUT))
         )
         (contents
          (instance S1_1_SUM0 (viewRef prim (cellRef XOR3 (libraryRef PA3)))          )
          (instance S1_1_CO0 (viewRef prim (cellRef MAJ3 (libraryRef PA3)))          )
          (instance S1_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance S0_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Cout_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Core_Sum_pad_1 "Core_Sum_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Core_Sum_pad_0 "Core_Sum_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Core_Cout_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Cin_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance B1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance B0_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance A1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance A0_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance OR2_0 (viewRef prim (cellRef OR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance Core_adder_0 (viewRef netlist (cellRef Core_adder))
          )
          (instance halfadder_0 (viewRef netlist (cellRef halfadder_1))
          )
          (instance halfadder_1 (viewRef netlist (cellRef halfadder_1_0))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net OR2_0_Y (joined
           (portRef Y (instanceRef OR2_0))
           (portRef C (instanceRef S1_1_CO0))
           (portRef C (instanceRef S1_1_SUM0))
          ))
          (net halfadder_0_C (joined
           (portRef halfadder_0_C (instanceRef halfadder_0))
           (portRef A (instanceRef OR2_0))
          ))
          (net halfadder_1_C (joined
           (portRef halfadder_1_C (instanceRef halfadder_1))
           (portRef B (instanceRef OR2_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net A0_c (joined
           (portRef Y (instanceRef A0_pad))
           (portRef A0_c (instanceRef halfadder_1))
           (portRef A0_c (instanceRef halfadder_0))
           (portRef A0_c (instanceRef Core_adder_0))
          ))
          (net A0 (joined
           (portRef A0)
           (portRef PAD (instanceRef A0_pad))
          ))
          (net A1_c (joined
           (portRef Y (instanceRef A1_pad))
           (portRef A1_c (instanceRef Core_adder_0))
           (portRef A (instanceRef S1_1_CO0))
           (portRef B (instanceRef S1_1_SUM0))
          ))
          (net A1 (joined
           (portRef A1)
           (portRef PAD (instanceRef A1_pad))
          ))
          (net B0_c (joined
           (portRef Y (instanceRef B0_pad))
           (portRef B0_c (instanceRef halfadder_1))
           (portRef B0_c (instanceRef halfadder_0))
           (portRef B0_c (instanceRef Core_adder_0))
          ))
          (net B0 (joined
           (portRef B0)
           (portRef PAD (instanceRef B0_pad))
          ))
          (net B1_c (joined
           (portRef Y (instanceRef B1_pad))
           (portRef B1_c (instanceRef Core_adder_0))
           (portRef B (instanceRef S1_1_CO0))
           (portRef A (instanceRef S1_1_SUM0))
          ))
          (net B1 (joined
           (portRef B1)
           (portRef PAD (instanceRef B1_pad))
          ))
          (net Cin_c (joined
           (portRef Y (instanceRef Cin_pad))
           (portRef Cin_c (instanceRef halfadder_1))
           (portRef Cin_c (instanceRef Core_adder_0))
          ))
          (net Cin (joined
           (portRef Cin)
           (portRef PAD (instanceRef Cin_pad))
          ))
          (net Core_Cout_c (joined
           (portRef Core_Cout_c (instanceRef Core_adder_0))
           (portRef D (instanceRef Core_Cout_pad))
          ))
          (net Core_Cout (joined
           (portRef PAD (instanceRef Core_Cout_pad))
           (portRef Core_Cout)
          ))
          (net (rename Core_Sum_c_0 "Core_Sum_c[0]") (joined
           (portRef (member core_sum_c 1) (instanceRef Core_adder_0))
           (portRef D (instanceRef Core_Sum_pad_0))
          ))
          (net (rename Core_Sum_0 "Core_Sum[0]") (joined
           (portRef PAD (instanceRef Core_Sum_pad_0))
           (portRef (member core_sum 1))
          ))
          (net (rename Core_Sum_c_1 "Core_Sum_c[1]") (joined
           (portRef (member core_sum_c 0) (instanceRef Core_adder_0))
           (portRef D (instanceRef Core_Sum_pad_1))
          ))
          (net (rename Core_Sum_1 "Core_Sum[1]") (joined
           (portRef PAD (instanceRef Core_Sum_pad_1))
           (portRef (member core_sum 0))
          ))
          (net Cout_c (joined
           (portRef Y (instanceRef S1_1_CO0))
           (portRef D (instanceRef Cout_pad))
          ))
          (net Cout (joined
           (portRef PAD (instanceRef Cout_pad))
           (portRef Cout)
          ))
          (net S0_c (joined
           (portRef S0_c (instanceRef halfadder_1))
           (portRef D (instanceRef S0_pad))
          ))
          (net S0 (joined
           (portRef PAD (instanceRef S0_pad))
           (portRef S0)
          ))
          (net S1_c (joined
           (portRef Y (instanceRef S1_1_SUM0))
           (portRef D (instanceRef S1_pad))
          ))
          (net S1 (joined
           (portRef PAD (instanceRef S1_pad))
           (portRef S1)
          ))
         )
        (property orig_inst_of (string "adder_3"))
       )
    )
  )
  (design adder_3 (cellRef adder_3 (libraryRef work)))
)
