(edif adders
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 11 12 14 23 8)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B ^ C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell XA1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A ^ B) & C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell MAJ3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) + (B & C) + (A & C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell halfadder_1_0 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port halfadder_1_C (direction OUTPUT))
           (port Cin_c (direction INPUT))
           (port DataA_c (direction INPUT))
           (port DataB_c (direction INPUT))
           (port Sum1_c (direction OUTPUT))
         )
         (contents
          (instance S (viewRef prim (cellRef XOR3 (libraryRef PA3)))          )
          (instance C (viewRef prim (cellRef XA1 (libraryRef PA3)))          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net Sum1_c (joined
           (portRef Y (instanceRef S))
           (portRef Sum1_c)
          ))
          (net DataB_c (joined
           (portRef DataB_c)
           (portRef A (instanceRef C))
           (portRef A (instanceRef S))
          ))
          (net DataA_c (joined
           (portRef DataA_c)
           (portRef B (instanceRef C))
           (portRef B (instanceRef S))
          ))
          (net Cin_c (joined
           (portRef Cin_c)
           (portRef C (instanceRef C))
           (portRef C (instanceRef S))
          ))
          (net halfadder_1_C (joined
           (portRef Y (instanceRef C))
           (portRef halfadder_1_C)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "halfadder"))
       )
    )
    (cell adders (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Cin (direction INPUT))
           (port DataA (direction INPUT))
           (port DataB (direction INPUT))
           (port Cout1 (direction OUTPUT))
           (port Cout2 (direction OUTPUT))
           (port Sum1 (direction OUTPUT))
           (port Sum2 (direction OUTPUT))
         )
         (contents
          (instance Sum2_1_CO0 (viewRef prim (cellRef MAJ3 (libraryRef PA3)))          )
          (instance Sum2_1_ANB0 (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance Sum2_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Sum1_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Cout2_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Cout1_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance DataB_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance DataA_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Cin_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance OR2_0 (viewRef prim (cellRef OR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance halfadder_1 (viewRef netlist (cellRef halfadder_1_0))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net halfadder_1_C (joined
           (portRef halfadder_1_C (instanceRef halfadder_1))
           (portRef B (instanceRef OR2_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net halfadder_0_C (joined
           (portRef Y (instanceRef Sum2_1_ANB0))
           (portRef A (instanceRef OR2_0))
          ))
          (net Cin_c (joined
           (portRef Y (instanceRef Cin_pad))
           (portRef Cin_c (instanceRef halfadder_1))
           (portRef A (instanceRef Sum2_1_CO0))
          ))
          (net Cin (joined
           (portRef Cin)
           (portRef PAD (instanceRef Cin_pad))
          ))
          (net DataA_c (joined
           (portRef Y (instanceRef DataA_pad))
           (portRef DataA_c (instanceRef halfadder_1))
           (portRef A (instanceRef Sum2_1_ANB0))
           (portRef C (instanceRef Sum2_1_CO0))
          ))
          (net DataA (joined
           (portRef DataA)
           (portRef PAD (instanceRef DataA_pad))
          ))
          (net DataB_c (joined
           (portRef Y (instanceRef DataB_pad))
           (portRef DataB_c (instanceRef halfadder_1))
           (portRef B (instanceRef Sum2_1_ANB0))
           (portRef B (instanceRef Sum2_1_CO0))
          ))
          (net DataB (joined
           (portRef DataB)
           (portRef PAD (instanceRef DataB_pad))
          ))
          (net Cout1_c (joined
           (portRef Y (instanceRef OR2_0))
           (portRef D (instanceRef Cout1_pad))
          ))
          (net Cout1 (joined
           (portRef PAD (instanceRef Cout1_pad))
           (portRef Cout1)
          ))
          (net Cout2_c (joined
           (portRef Y (instanceRef Sum2_1_CO0))
           (portRef D (instanceRef Cout2_pad))
          ))
          (net Cout2 (joined
           (portRef PAD (instanceRef Cout2_pad))
           (portRef Cout2)
          ))
          (net Sum1_c (joined
           (portRef Sum1_c (instanceRef halfadder_1))
           (portRef D (instanceRef Sum1_pad))
           (portRef D (instanceRef Sum2_pad))
          ))
          (net Sum1 (joined
           (portRef PAD (instanceRef Sum1_pad))
           (portRef Sum1)
          ))
          (net Sum2 (joined
           (portRef PAD (instanceRef Sum2_pad))
           (portRef Sum2)
          ))
         )
        (property orig_inst_of (string "adders"))
       )
    )
  )
  (design adders (cellRef adders (libraryRef work)))
)
