(edif halfadder
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 11 12 14 59 51)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell halfadder (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port S (direction OUTPUT))
           (port C (direction OUTPUT))
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
         (contents
          (instance (rename CZ0 "C") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance S_pad_RNO (viewRef prim (cellRef XOR2 (libraryRef PA3)))          )
          (instance B_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance A_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance C_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance S_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net S_c (joined
           (portRef Y (instanceRef S_pad_RNO))
           (portRef D (instanceRef S_pad))
          ))
          (net S (joined
           (portRef PAD (instanceRef S_pad))
           (portRef S)
          ))
          (net C_c (joined
           (portRef Y (instanceRef CZ0))
           (portRef D (instanceRef C_pad))
          ))
          (net C (joined
           (portRef PAD (instanceRef C_pad))
           (portRef C)
          ))
          (net A_c (joined
           (portRef Y (instanceRef A_pad))
           (portRef A (instanceRef S_pad_RNO))
           (portRef B (instanceRef CZ0))
          ))
          (net A (joined
           (portRef A)
           (portRef PAD (instanceRef A_pad))
          ))
          (net B_c (joined
           (portRef Y (instanceRef B_pad))
           (portRef B (instanceRef S_pad_RNO))
           (portRef A (instanceRef CZ0))
          ))
          (net B (joined
           (portRef B)
           (portRef PAD (instanceRef B_pad))
          ))
         )
        (property orig_inst_of (string "halfadder"))
       )
    )
  )
  (design halfadder (cellRef halfadder (libraryRef work)))
)
