(edif HC85
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 12 18 19 24 24)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell XO1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A ^ B) + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell AOI1A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A & B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & B) + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AND2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A & B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell HC85 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port A3 (direction INPUT))
           (port A2 (direction INPUT))
           (port A1 (direction INPUT))
           (port A0 (direction INPUT))
           (port B3 (direction INPUT))
           (port B2 (direction INPUT))
           (port B1 (direction INPUT))
           (port B0 (direction INPUT))
           (port QAGB (direction OUTPUT))
           (port QASB (direction OUTPUT))
           (port QAEB (direction OUTPUT))
           (port IAGB (direction INPUT))
           (port IASB (direction INPUT))
           (port IAEB (direction INPUT))
         )
         (contents
          (instance QAGB_pad_RNO_0 (viewRef prim (cellRef NOR3 (libraryRef PA3)))          )
          (instance QASB_pad_RNO_0 (viewRef prim (cellRef NOR3 (libraryRef PA3)))          )
          (instance A3_pad_RNI0VRT (viewRef prim (cellRef XO1 (libraryRef PA3)))          )
          (instance B1_pad_RNIOUAS (viewRef prim (cellRef XO1 (libraryRef PA3)))          )
          (instance QAEB_pad_RNO (viewRef prim (cellRef NOR3A (libraryRef PA3)))          )
          (instance B2_pad_RNIFRNI (viewRef prim (cellRef XOR2 (libraryRef PA3)))          )
          (instance A0_pad_RNIBBVH (viewRef prim (cellRef XOR2 (libraryRef PA3)))          )
          (instance QASB_pad_RNO (viewRef prim (cellRef AO1A (libraryRef PA3)))          )
          (instance QAGB_pad_RNO (viewRef prim (cellRef AO1A (libraryRef PA3)))          )
          (instance IAEB_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance IASB_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance IAGB_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance QAEB_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance QASB_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance QAGB_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance B0_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance B1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance B2_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance B3_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance A0_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance A1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance A2_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance A3_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance QAGB17_0_I_11 (viewRef prim (cellRef AOI1A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB17_0_I_10 (viewRef prim (cellRef AOI1A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB17_0_I_9 (viewRef prim (cellRef OR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB17_0_I_8 (viewRef prim (cellRef NOR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB17_0_I_7 (viewRef prim (cellRef NOR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB17_0_I_6 (viewRef prim (cellRef NOR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB17_0_I_5 (viewRef prim (cellRef OR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB17_0_I_4 (viewRef prim (cellRef AOI1A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB17_0_I_3 (viewRef prim (cellRef AND2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB17_0_I_2 (viewRef prim (cellRef OR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB17_0_I_1 (viewRef prim (cellRef NOR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB16_0_I_11 (viewRef prim (cellRef AOI1A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB16_0_I_10 (viewRef prim (cellRef AOI1A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB16_0_I_9 (viewRef prim (cellRef OR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB16_0_I_8 (viewRef prim (cellRef NOR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB16_0_I_7 (viewRef prim (cellRef NOR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB16_0_I_6 (viewRef prim (cellRef NOR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB16_0_I_5 (viewRef prim (cellRef OR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB16_0_I_4 (viewRef prim (cellRef AOI1A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB16_0_I_3 (viewRef prim (cellRef AND2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB16_0_I_2 (viewRef prim (cellRef OR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance QAGB16_0_I_1 (viewRef prim (cellRef NOR2A (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net QAGB16 (joined
           (portRef Y (instanceRef QAGB16_0_I_11))
           (portRef C (instanceRef QAGB_pad_RNO))
          ))
          (net QAGB17 (joined
           (portRef Y (instanceRef QAGB17_0_I_11))
           (portRef C (instanceRef QASB_pad_RNO))
          ))
          (net un1_A0_0 (joined
           (portRef Y (instanceRef A0_pad_RNIBBVH))
           (portRef C (instanceRef B1_pad_RNIOUAS))
          ))
          (net un1_A0_2 (joined
           (portRef Y (instanceRef B2_pad_RNIFRNI))
           (portRef C (instanceRef A3_pad_RNI0VRT))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename QAGB17_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_0 "QAGB17_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[0]") (joined
           (portRef Y (instanceRef QAGB17_0_I_1))
           (portRef A (instanceRef QAGB17_0_I_4))
          ))
          (net (rename QAGB17_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_1 "QAGB17_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[1]") (joined
           (portRef Y (instanceRef QAGB17_0_I_2))
           (portRef B (instanceRef QAGB17_0_I_4))
          ))
          (net (rename QAGB17_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_2 "QAGB17_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[2]") (joined
           (portRef Y (instanceRef QAGB17_0_I_3))
           (portRef C (instanceRef QAGB17_0_I_4))
          ))
          (net (rename QAGB17_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_3 "QAGB17_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[3]") (joined
           (portRef Y (instanceRef QAGB17_0_I_4))
           (portRef A (instanceRef QAGB17_0_I_11))
          ))
          (net (rename QAGB17_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_4 "QAGB17_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[4]") (joined
           (portRef Y (instanceRef QAGB17_0_I_5))
           (portRef A (instanceRef QAGB17_0_I_7))
          ))
          (net (rename QAGB17_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_5 "QAGB17_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[5]") (joined
           (portRef Y (instanceRef QAGB17_0_I_6))
           (portRef B (instanceRef QAGB17_0_I_7))
           (portRef C (instanceRef QAGB17_0_I_10))
          ))
          (net (rename QAGB17_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_6 "QAGB17_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[6]") (joined
           (portRef Y (instanceRef QAGB17_0_I_7))
           (portRef B (instanceRef QAGB17_0_I_11))
          ))
          (net (rename QAGB17_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_7 "QAGB17_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[7]") (joined
           (portRef Y (instanceRef QAGB17_0_I_8))
           (portRef A (instanceRef QAGB17_0_I_10))
          ))
          (net (rename QAGB17_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_8 "QAGB17_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[8]") (joined
           (portRef Y (instanceRef QAGB17_0_I_9))
           (portRef B (instanceRef QAGB17_0_I_10))
          ))
          (net (rename QAGB17_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_10 "QAGB17_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[10]") (joined
           (portRef Y (instanceRef QAGB17_0_I_10))
           (portRef C (instanceRef QAGB17_0_I_11))
          ))
          (net (rename QAGB16_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_0 "QAGB16_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[0]") (joined
           (portRef Y (instanceRef QAGB16_0_I_1))
           (portRef A (instanceRef QAGB16_0_I_4))
          ))
          (net (rename QAGB16_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_1 "QAGB16_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[1]") (joined
           (portRef Y (instanceRef QAGB16_0_I_2))
           (portRef B (instanceRef QAGB16_0_I_4))
          ))
          (net (rename QAGB16_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_2 "QAGB16_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[2]") (joined
           (portRef Y (instanceRef QAGB16_0_I_3))
           (portRef C (instanceRef QAGB16_0_I_4))
          ))
          (net (rename QAGB16_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_3 "QAGB16_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[3]") (joined
           (portRef Y (instanceRef QAGB16_0_I_4))
           (portRef A (instanceRef QAGB16_0_I_11))
          ))
          (net (rename QAGB16_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_4 "QAGB16_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[4]") (joined
           (portRef Y (instanceRef QAGB16_0_I_5))
           (portRef A (instanceRef QAGB16_0_I_7))
          ))
          (net (rename QAGB16_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_5 "QAGB16_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[5]") (joined
           (portRef Y (instanceRef QAGB16_0_I_6))
           (portRef B (instanceRef QAGB16_0_I_7))
           (portRef C (instanceRef QAGB16_0_I_10))
          ))
          (net (rename QAGB16_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_6 "QAGB16_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[6]") (joined
           (portRef Y (instanceRef QAGB16_0_I_7))
           (portRef B (instanceRef QAGB16_0_I_11))
          ))
          (net (rename QAGB16_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_7 "QAGB16_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[7]") (joined
           (portRef Y (instanceRef QAGB16_0_I_8))
           (portRef A (instanceRef QAGB16_0_I_10))
          ))
          (net (rename QAGB16_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_8 "QAGB16_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[8]") (joined
           (portRef Y (instanceRef QAGB16_0_I_9))
           (portRef B (instanceRef QAGB16_0_I_10))
          ))
          (net (rename QAGB16_0_DWACT_COMP0_IF1_4_IF_equal_40_ACT_LT4_E_10 "QAGB16_0.DWACT_COMP0_IF1_4.IF_equal_40.ACT_LT4_E[10]") (joined
           (portRef Y (instanceRef QAGB16_0_I_10))
           (portRef C (instanceRef QAGB16_0_I_11))
          ))
          (net A3_c (joined
           (portRef Y (instanceRef A3_pad))
           (portRef A (instanceRef QAGB16_0_I_6))
           (portRef B (instanceRef QAGB16_0_I_9))
           (portRef B (instanceRef QAGB17_0_I_6))
           (portRef A (instanceRef QAGB17_0_I_9))
           (portRef B (instanceRef A3_pad_RNI0VRT))
          ))
          (net A3 (joined
           (portRef A3)
           (portRef PAD (instanceRef A3_pad))
          ))
          (net A2_c (joined
           (portRef Y (instanceRef A2_pad))
           (portRef A (instanceRef QAGB16_0_I_5))
           (portRef B (instanceRef QAGB16_0_I_8))
           (portRef B (instanceRef QAGB17_0_I_5))
           (portRef A (instanceRef QAGB17_0_I_8))
           (portRef A (instanceRef B2_pad_RNIFRNI))
          ))
          (net A2 (joined
           (portRef A2)
           (portRef PAD (instanceRef A2_pad))
          ))
          (net A1_c (joined
           (portRef Y (instanceRef A1_pad))
           (portRef A (instanceRef QAGB16_0_I_2))
           (portRef A (instanceRef QAGB16_0_I_3))
           (portRef B (instanceRef QAGB17_0_I_2))
           (portRef B (instanceRef QAGB17_0_I_3))
           (portRef B (instanceRef B1_pad_RNIOUAS))
          ))
          (net A1 (joined
           (portRef A1)
           (portRef PAD (instanceRef A1_pad))
          ))
          (net A0_c (joined
           (portRef Y (instanceRef A0_pad))
           (portRef A (instanceRef QAGB16_0_I_1))
           (portRef B (instanceRef QAGB17_0_I_1))
           (portRef A (instanceRef A0_pad_RNIBBVH))
          ))
          (net A0 (joined
           (portRef A0)
           (portRef PAD (instanceRef A0_pad))
          ))
          (net B3_c (joined
           (portRef Y (instanceRef B3_pad))
           (portRef B (instanceRef QAGB16_0_I_6))
           (portRef A (instanceRef QAGB16_0_I_9))
           (portRef A (instanceRef QAGB17_0_I_6))
           (portRef B (instanceRef QAGB17_0_I_9))
           (portRef A (instanceRef A3_pad_RNI0VRT))
          ))
          (net B3 (joined
           (portRef B3)
           (portRef PAD (instanceRef B3_pad))
          ))
          (net B2_c (joined
           (portRef Y (instanceRef B2_pad))
           (portRef B (instanceRef QAGB16_0_I_5))
           (portRef A (instanceRef QAGB16_0_I_8))
           (portRef A (instanceRef QAGB17_0_I_5))
           (portRef B (instanceRef QAGB17_0_I_8))
           (portRef B (instanceRef B2_pad_RNIFRNI))
          ))
          (net B2 (joined
           (portRef B2)
           (portRef PAD (instanceRef B2_pad))
          ))
          (net B1_c (joined
           (portRef Y (instanceRef B1_pad))
           (portRef B (instanceRef QAGB16_0_I_2))
           (portRef B (instanceRef QAGB16_0_I_3))
           (portRef A (instanceRef QAGB17_0_I_2))
           (portRef A (instanceRef QAGB17_0_I_3))
           (portRef A (instanceRef B1_pad_RNIOUAS))
          ))
          (net B1 (joined
           (portRef B1)
           (portRef PAD (instanceRef B1_pad))
          ))
          (net B0_c (joined
           (portRef Y (instanceRef B0_pad))
           (portRef B (instanceRef QAGB16_0_I_1))
           (portRef A (instanceRef QAGB17_0_I_1))
           (portRef B (instanceRef A0_pad_RNIBBVH))
          ))
          (net B0 (joined
           (portRef B0)
           (portRef PAD (instanceRef B0_pad))
          ))
          (net QAGB_c (joined
           (portRef Y (instanceRef QAGB_pad_RNO))
           (portRef D (instanceRef QAGB_pad))
          ))
          (net QAGB (joined
           (portRef PAD (instanceRef QAGB_pad))
           (portRef QAGB)
          ))
          (net QASB_c (joined
           (portRef Y (instanceRef QASB_pad_RNO))
           (portRef D (instanceRef QASB_pad))
          ))
          (net QASB (joined
           (portRef PAD (instanceRef QASB_pad))
           (portRef QASB)
          ))
          (net QAEB_c (joined
           (portRef Y (instanceRef QAEB_pad_RNO))
           (portRef D (instanceRef QAEB_pad))
          ))
          (net QAEB (joined
           (portRef PAD (instanceRef QAEB_pad))
           (portRef QAEB)
          ))
          (net IAGB_c (joined
           (portRef Y (instanceRef IAGB_pad))
           (portRef C (instanceRef QASB_pad_RNO_0))
          ))
          (net IAGB (joined
           (portRef IAGB)
           (portRef PAD (instanceRef IAGB_pad))
          ))
          (net IASB_c (joined
           (portRef Y (instanceRef IASB_pad))
           (portRef C (instanceRef QAGB_pad_RNO_0))
          ))
          (net IASB (joined
           (portRef IASB)
           (portRef PAD (instanceRef IASB_pad))
          ))
          (net IAEB_c (joined
           (portRef Y (instanceRef IAEB_pad))
           (portRef A (instanceRef QAGB_pad_RNO))
           (portRef A (instanceRef QASB_pad_RNO))
           (portRef A (instanceRef QAEB_pad_RNO))
          ))
          (net IAEB (joined
           (portRef IAEB)
           (portRef PAD (instanceRef IAEB_pad))
          ))
          (net un1_A0_NE_0 (joined
           (portRef Y (instanceRef B1_pad_RNIOUAS))
           (portRef B (instanceRef QAEB_pad_RNO))
           (portRef A (instanceRef QASB_pad_RNO_0))
           (portRef A (instanceRef QAGB_pad_RNO_0))
          ))
          (net un1_A0_NE_1 (joined
           (portRef Y (instanceRef A3_pad_RNI0VRT))
           (portRef C (instanceRef QAEB_pad_RNO))
           (portRef B (instanceRef QASB_pad_RNO_0))
           (portRef B (instanceRef QAGB_pad_RNO_0))
          ))
          (net QASB_0_a3_0 (joined
           (portRef Y (instanceRef QASB_pad_RNO_0))
           (portRef B (instanceRef QASB_pad_RNO))
          ))
          (net QAGB_0_a3_0 (joined
           (portRef Y (instanceRef QAGB_pad_RNO_0))
           (portRef B (instanceRef QAGB_pad_RNO))
          ))
         )
        (property orig_inst_of (string "HC85"))
       )
    )
  )
  (design HC85 (cellRef HC85 (libraryRef work)))
)
